<mat-card>
    <mat-card-title>Todo List</mat-card-title>
    <mat-card-content>
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-item-center" *ngFor="let todo of getTodosArr; trackBy: trackByTodoID">
                <strong><mat-checkbox [checked]="todo.isCompleted">{{todo.todoItem}}</mat-checkbox></strong>
                <div>
                    <button class="mr-2" mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </li>
        </ul>
    </mat-card-content>
</mat-card>